<!doctype html>
<!--STATUS OK-->
<html>
<head>
    <meta charset="utf-8">
    <meta name="screen-orientation" content="portrait">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <meta content="telephone=no" name="format-detection">
    <title>Hello World!</title>
</head>
<body>
{{{unit height="150px" name="header"}}}
{{{unit height="150px" name="content"}}}
{{{unit height="150px" name="footer"}}}
</body>
<footer></footer>
</html>